

body, html {
	height: 100%;
	margin: 0 auto;
	clear: both;
	}

li {
	display: inline;
	font-size: 20px;
	padding-right: 20px;
}

/*id's*/
#display {
	font-size: 100px;
	text-align: center;
	margin-bottom: 30px;
}

#header {
	text-align: center;
	margin-top: 40px;
	font-family: 'Coda Caption', sans-serif;
}

/*classes*/
	
.bg {
	background-image: url("../images/goonies.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.startBox {
	margin-top: 45%;
	margin-left: 25%;
    width: 50%;
}

.startGame {
	height: 200px;
	width: 100%;
	font-family: 'Coda Caption', sans-serif;
	font-size: 50px;
	border-radius: 15px;
}

.ques {
	font-family: 'Coda Caption', sans-serif;
	font-size: 30px;
	padding-bottom: 40px;
	
}

.quesBox {
	padding-left: 20px;

}
.resetBox {
	margin-top: 45%;
	margin-left: 25%;
    width: 50%;
}

.resetGame {
	height: 200px;
	width: 100%;
	font-family: 'Coda Caption', sans-serif;
	font-size: 50px;
	border-radius: 15px;

}


